 header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .tarefas {
  color: var(--blue);
}
header .concluidas {
  color: var(--purple);
}
 header .tarefas span , header .concluidas span {
  color: var(--gray-300);
  padding: .125rem .5rem;
  border-radius: 999px;
  background: var(--gray-500);
}